{
    "check-coverage": true,
    "all": true,
    "extension": [
        ".js"
    ],
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "src/resource/**/*.*",
        "test/**",
        "node_modules/**"
    ],
    "reporter": [
        "html",
        "lcov",
        "text",
        "text-summary"
    ],
    "report-dir": "coverage"
}