:host,
:root {
    --wyvr-debug-primary: #6d8ddf;
    --wyvr-debug-disabled: #999;
    --wyvr-debug-bg: rgba(0, 0, 0, 0.75);
    --wyvr-debug-text: #fff;
    --wyvr-debug-text-shadow: #000;
    --wyvr-debug-error: #800;
    --wyvr-debug-font-size: 14px;
}

.wyvr_debug_toolbar,
.wyvr_floating_window,
#wyvr_debug_toolbar_button_info {
    background: rgba(0, 0, 0, 0.75);
    z-index: 100001;
}

.wyvr_debug_toolbar {
    position: fixed;
    bottom: 10px;
    border-radius: 10px;
    left: 50%;
    font-size: var(--wyvr-debug-font-size);
    font-family: monospace;
    display: flex !important;
    flex-direction: row;
    transform: translateX(-50%) translateY(44px);
    transition: transform 0.15s ease-out;
}

.wyvr_debug_toolbar:hover {
    transform: translateX(-50%) translateY(0);
}

.wyvr_debug_toolbar:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    height: 69px;
}

@media (pointer:coarse) {
    .wyvr_debug_toolbar {
        transform: translateX(-50%) translateY(0);
        transition: none;
    }
}

.wyvr_debug_toolbar:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: background 0.2s ease-out, border 0.2s ease-out;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wyvr_debug_toolbar.connected:after {
    background: var(--wyvr-debug-primary);
}

.wyvr_debug_toolbar.hidden:after {
    background: color-mix(in srgb, var(--wyvr-debug-primary) 20%, transparent);
}

.wyvr_debug_toolbar.disconnected:after {
    border: 2px solid var(--wyvr-debug-disabled);
    border-right-color: transparent;
    border-bottom-width: 1px;
    animation: wyvr-rotate 1s linear 0s infinite;
}

.wyvr_debug_toolbar.disconnected .icon::after {
    content: "disconnected";
    color: var(--wyvr-debug-disabled);
    display: block;
    font-size: 10px;
}

.wyvr_debug_toolbar .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wyvr_debug_toolbar>span {
    display: block;
    padding: 10px;
}

.wyvr_debug_toolbar>span>img {
    display: block;
}

.wyvr_debug_toolbar>nav {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 80vw;
}

.wyvr_debug_toolbar_button {
    font-family: none;
    background: transparent;
    border: none;
    color: var(--wyvr-debug-text);
    text-shadow: 0 0 10px var(--wyvr-debug-text-shadow);
    padding: 0 10px;
    width: auto;
    display: inline-block;
    white-space: nowrap;
    /* font-family: monospace; */
    border-radius: 2px;
    position: relative;
    text-align: left;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    font-size: 24px;
}

.wyvr_debug_toolbar_button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.wyvr_debug_toolbar_button:hover,
.wyvr_debug_toolbar_button:focus,
.wyvr_debug_toolbar_button:active {
    background: var(--wyvr-debug-primary);
    color: var(--wyvr-debug-text);
    outline: none;
}

.wyvr_debug_toolbar_details {
    display: none;
}

.wyvr_debug_toolbar_button:hover .wyvr_debug_toolbar_details,
.wyvr_debug_toolbar_button:focus .wyvr_debug_toolbar_details,
.wyvr_debug_toolbar_button:active .wyvr_debug_toolbar_details {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
}


.wyvr_debug_toolbar_button svg {
    width: 24px;
    height: 24px;
    fill: var(--wyvr-debug-text);
    filter: drop-shadow(0 0 10px var(--wyvr-debug-text-shadow));
    display: block;
    pointer-events: none;
}

#wyvr_debug_toolbar_button_info {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 12px;
    color: var(--wyvr-debug-text);
    margin-bottom: 10px;
    pointer-events: none;
}

#wyvr_debug_toolbar_button_info:empty {
    display: none;
}

.wyvr_debug_toolbar_button_info_title {
    display: block;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.wyvr_debug_toolbar_button_info_description:empty {
    display: none;
}

.wyvr_debug_toolbar_button_info_description {
    display: block;
    font-size: 16px;
    width: 250px;
    max-width: 80vw;
    white-space: normal;
    line-height: 1.2em;
    color: color-mix(in srgb, var(--wyvr-debug-text) 75%, transparent);
    margin-top: 5px;
}

.wyvr_debug_toolbar_button_info_description a {
    font-size: 16px;
    line-height: 1.2em;
    color: var(--wyvr-debug-text);
}



.wyvr_debug_toolbar nav>a,
.wyvr_debug_toolbar nav>span {
    display: inline-block;
    font-size: 12px;
    margin-left: 3.2em;
    position: relative;
    top: -0.5em;
}

.wyvr_message {
    position: fixed;
    bottom: 5px;
    left: 50%;
    max-width: min(80vw, 300px);
    transform: translateX(-50%);
    background: var(--wyvr-debug-primary);
    color: var(--wyvr-debug-text);
    text-shadow: 0 0 10px var(--wyvr-debug-text-shadow);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--wyvr-debug-bg);
    transition: opacity 2s linear;
    pointer-events: none;
    z-index: 100000;
}

#wyvr_debug_logs {
    position: relative;
    display: none;
}

#wyvr_debug_logs::before {
    content: "a";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--wyvr-debug-primary);
    z-index: 100000;
}

#wyvr_debug_logs div {
    display: none;
}

#wyvr_debug_logs div.wyvr_debug_log_warning {
    color: var(--wyvr-debug-warning);
}

#wyvr_debug_logs div.wyvr_debug_log_error {
    color: var(--wyvr-debug-error);
}

@keyframes wyvr-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}