:host {
    --wyvr-debug-primary: #6d8ddf;
    --wyvr-debug-disabled: #999;
    --wyvr-debug-bg: rgba(0, 0, 0, 0.75);
    --wyvr-debug-text: #fff;
    --wyvr-debug-text-shadow: #000;
    --wyvr-debug-error: #800;
    --wyvr-debug-font-size: 14px;
}

.wyvr_debug_toolbar,
.wyvr_floating_window {
    background: rgba(0, 0, 0, 0.75);
    z-index: 100001;
}
.wyvr_debug_toolbar {
    position: fixed;
    bottom: 0;
    border-top-left-radius: 10px;
    right: 0;
    font-size: var(--wyvr-debug-font-size);
    font-family: monospace;
    display: block !important;
}
.wyvr_debug_toolbar:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: background 0.2s ease-out, border 0.2s ease-out;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.wyvr_debug_toolbar.connected:after {
    background: var(--wyvr-debug-primary);
}
.wyvr_debug_toolbar.disconnected:after {
    border: 2px solid var(--wyvr-debug-disabled);
    border-right-color: transparent;
    border-bottom-width: 1px;
    animation: wyvr-rotate 1s linear 0s infinite;
}

.wyvr_debug_toolbar.disconnected .icon::after {
    content: "disconnected";
    color: var(--wyvr-debug-disabled);
    display: block;
    font-size: 10px;

}

.wyvr_debug_toolbar .icon {
    display: flex;
    flex-direction: column;
}

.wyvr_debug_toolbar > span {
    display: block;
    padding: 10px;
}
.wyvr_debug_toolbar > span > img {
    display: block;
}
.wyvr_debug_toolbar > nav {
    display: none;
    padding-bottom: 20px;
    overflow-y: auto;
    max-height: 80vh;
}
.wyvr_debug_toolbar:hover > nav {
    display: block;
}
.wyvr_debug_toolbar_button {
    background: transparent;
    border: none;
    color: var(--wyvr-debug-text);
    text-shadow: 0 0 10px var(--wyvr-debug-text-shadow);
    padding: 5px 10px 5px 48px;
    width: auto;
    line-height: 1.4em;
    display: block;
    white-space: nowrap;
    font-family: monospace;
    border-radius: 2px;
    position: relative;
    text-align: left;
    width: 100%;
    cursor: pointer;
    height: auto;
}
.wyvr_debug_toolbar_icon {
    font-family: none;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.wyvr_debug_toolbar_icon svg {
    width: 24px;
    height: 24px;
    fill: var(--wyvr-debug-text);
    filter: drop-shadow(0 0 10px var(--wyvr-debug-text-shadow));
}
.wyvr_debug_toolbar_name {
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.wyvr_debug_toolbar_description {
    display: block;
    font-size: 10px;
    width: 250px;
    max-width: 80vw;
    white-space: normal;
    line-height: 1.2em;
    color: color-mix(in srgb, var(--wyvr-debug-text) 75%, transparent);
}
.wyvr_debug_toolbar_description a {
    font-size: 10px;
    line-height: 1.2em;
    color: var(--wyvr-debug-text);
}
.wyvr_debug_toolbar button:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.wyvr_debug_toolbar button:hover,
.wyvr_debug_toolbar button:active {
    background: var(--wyvr-debug-primary);
    color: var(--wyvr-debug-text);
}

.wyvr_debug_toolbar nav > a,
.wyvr_debug_toolbar nav > span {
    display: inline-block;
    font-size: 12px;
    margin-left: 3.2em;
    position: relative;
    top: -0.5em;
}
.wyvr_message {
    position: fixed;
    bottom: 5px;
    left: 50%;
    max-width: min(80vw, 300px);
    transform: translateX(-50%);
    background: var(--wyvr-debug-primary);
    color: var(--wyvr-debug-text);
    text-shadow: 0 0 10px var(--wyvr-debug-text-shadow);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--wyvr-debug-bg);
    transition: opacity 2s linear;
    pointer-events: none;
    z-index: 100000;
}

@keyframes wyvr-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
